@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 35%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 60%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
    --border: 0 0% 100% / 10%;
    --ring: 0 0% 35%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

[dir='rtl'] {
  font-family: 'Amiri', serif;
}
